<div class="payment-box">
  <% if @order.errors.any? %>
    <div class="alert alert-danger">
      <h4>There were issues with your payment:</h4>
      <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="payment-container">
    <div class="payment-form">
      <h1>Payment Details</h1>
      <%= simple_form_for @order do |f| %>
        <div class="form-group">
          <%= f.input :card_number, label: "Card Number", input_html: { placeholder: "1234 5678 9012 3456" } %>
          <%= f.input :expiration, label: "Expiration Date", input_html: { placeholder: "MM/YY" } %>
          <%= f.input :cvv, label: "CVV", input_html: { placeholder: "123" } %>
        </div>
        <%= f.button :submit, "Pay Now", class: "btn" %>
      <% end %>
    </div>

    <div class="order-summary">
      <h3>Order Summary</h3>
      <div class="summary-image-container">
        <img class="summary-image" src="https://res.cloudinary.com/draltripq/image/upload/v1750957875/plant_drwqlq.png">
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Qty</th>
            <th>Unit Price</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <tbody>
          <% @cart.cart_items.each do |item| %>
            <tr>
              <td><%= item.product.name %></td>
              <td><%= item.quantity %></td>
              <td>Rs <%= number_with_precision(item.product.price, precision: 2) %></td>
              <td>Rs <%= number_with_precision(item.product.price * item.quantity, precision: 2) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
        <p><strong>Total Price: Rs <%= number_with_precision(@total_price, precision: 2) %></strong></p>
    </div>
  </div>
</div>
