<div class="farmers-page">
  <div class="main-content">
    <div class="farmers-section">
    <div class="top-row">
      <div class="title-section">
        <h1 class="page-title">Our Farmers</h1>
        <p class="page-subtitle">
          <% if params[:search].present? %>
            Location: "<%= params[:search] %>"
          <% else %>
            "All Locations"
          <% end %>
        </p>
      </div>

      <div class="search-container">
        <%= form_with url: farmers_path, method: :get, local: true, class: "search-form" do |form| %>
          <label for="search" class="visually-hidden">Search</label>
            <div class="animated-search-box">
              <%= form.text_field :search, class: "animated-search-input", placeholder: "Search..." %>
              <button type="submit" class="animated-search-button">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
        <% end %>
      </div>
    </div>

      <div class="farmers-layout">
        <% @farmers.each do |farmer| %>
          <%= link_to farmer_path(farmer), class: "farmer-card-link" do %>
            <div class="farmer-card">
              <div class="farmer-image-container">
                <% if farmer.image.attached? %>
                  <%= cl_image_tag farmer.image.key, class: "farmer-image" %>
                <% else %>
                  <div class="farmer-image-placeholder">
                    <i class="fa-solid fa-user"></i>
                  </div>
                <% end %>
              </div>
              <div class="farmer-info">
                <h3 class="farmer-name"><%= farmer.name %></h3>
                <p class="farmer-contact">
                  <span>Contact:</span> <%= farmer.contact_info %>
                </p>
                <p class="farmer-address">
                  <span>Address:</span> <%= farmer.location %>
                </p>
                <p class="farmer-description">
                  <%= farmer.description %>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

      <div class="map-section">
        <div class="map-container"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
