<div class="product-list-page">
  <div class="top-row">
    <div class="title-section">
      <h1 class="page-title">Products</h1>
      <p class="page-subtitle">Farmer: <%= @farmer.name %></p>
      <p class="page-subtitle">Address: <%= @farmer.location %></p>
    </div>
  </div>


  <div class="product-grid">
    <% @farmer.products.each do |product| %>
    <div class="product-card">
        <div class="product-image-container">
          <% if product.photo.attached? %>
            <%= cl_image_tag product.photo.key, class: "product-image" %>
          <% else %>
            <div class="no-image-placeholder">
              <span>No Image Available</span>
            </div>
          <% end %>
        </div>
      <h3><%= product.name %></h3>
      <p>Price: Rs <%= product.price %></p>
      <%= link_to "View Details", farmer_product_path(@farmer, product), class: "product-link" %>
    </div>
    <% end %>
  </div>

  <%= link_to "Back to Farmers", farmers_path, class: "back-link" %>
</div>
